SAVER_BACKEND_RELOAD=True
SAVER_BACKEND_SUBSCRIPTION_CHANNELS=["notmeme"]
SAVER_BACKEND_PROXIES=[]
SAVER_BACKEND_TELEGRAM_BOT_TOKEN=42:TOKEN
SAVER_BACKEND_TELEGRAM_SECRET_TOKEN=VERY_SECRET_TOKEN_WEBHOOK
